<html lang="en-US">
 <head> <title style="font-size:250%;"> Welcome to Ruby on Rails </title>
  <style>
  header {
    padding: 1em;
    color: Red;
    background-color: white;
    clear: left;
    text-align:left;
}    
  footer  {
    padding: 1em;
    color: White;
    background-color: Gray;
    clear: left;
    text-align: center;
}

  header h1 {
    font-size: 36px;
    letter-spacing: 0.1em;
    color: red ;
}
  article {
    font-family: Georgia, serif;
    line-height: 2rem;
    font-size: 1.3rem;
    margin-left: 170px;
    border-left: 1px solid gray;
    margin: 0;
    padding: 1em;
    overflow: hidden;
}
  nav {
    float: left;
    font-size: 15px;
    max-width: 160px;
    display: inline-block;
    padding: 9px 12px;
    padding-top: 9px;
    padding-right: 12px;
    padding-bottom: 9px;
    padding-left: 12px;
    font-weight: normal;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    #padding: 1em;
}
ul {
    border-top: 5px solid #CC342D;
    list-style-type: none;
    margin: 0;
    padding: 0 8px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -moz-border-radius-bottomright: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
    background-color:#333;
}


li {
    float: left;
}
li a {
     display: block;
     color: red;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
}

li a:hover {
     background-color: White;
}

#nav ul {
#    list-style-type: none;
#    padding: 0;
#}
   
#nav ul a {
#    text-decoration: none;
#}
   body {background-color: white}
         #h2  {color: blue;}
		 #pre {color: yellow;}
   </style>
   </head>
 <body>
 <div class="container">
 
 <header> 
      <%= image_tag('ruby.jpg', alt: "Ruby", :align =>"left", :width =>80, :height =>80, :crop => :fill) %>
      <h1>Ruby on Rails</h1>
 </header>

  

 <ul>
 <li> <%= link_to 'Home', root_path %> </li>
 <li><a href="https://www.udemy.com" style="color:red;" style="font-family:verdana;"> <abbr title="Online Learning Program"> Udemy </abbr> </a> </li>
 <li><a href="http://api.rubyonrails.org" style="color:Green;">RubyRails</a> </li>
  </ul>
 </div>
 <article>
  <p> Now you are Learning about <br></p>
  <h2> <b>Ruby on Rails </b></h2>
   <strong>
   <pre>   Choose correct Developer Programs below
        1. DevOps
	2. Ruby on Rails
	3. Python
	4. Chef 
	5. GitHub
	6. Vagrant
	7. Docker
  </pre>  </strong>
   
  <address style="border:2px solid LightGray;" style="background-color:hsla(9, 100%, 64%, 0)">
  Executed by Srivasthav <br>
  Visit us at:<br>
  rubyorg.com<br>
  Doctors Colony, Warangal<br>
  Telangana
  </address>
  </article> 
  <footer> Copyright &copy rubyonrails.org </footer>
 </body>
</html>

<! --- style="text-align:center;" -->
